*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 0px 100px;
    width:100%;
   background-color: #022d7c;
    height: 60px;
    color: azure;
    line-height: 60px;
    justify-content: space-between;
    display: flex;
}

header .company span{
    font-size: 15px;
    font-weight: normal;
}
header .contact span{
    color: aqua;
}
/* header end */
/* main start  */
main{
    width: 100%;
    height: 550px;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/aerial-view-oil-refinery-refinery-plant-refinery-factory-night.jpg);
    background-size: cover;
    background-position: center center;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
main form{
    background-color: #022d7c;
    padding: 15px;
    border-radius: 10px;
}
 main form h2{
    font-weight:normal;
    font-size: 20px;
}
main form input{
    height: 49px;
    margin-top: 3px ;
    margin-bottom: 3px;
    box-shadow: rgba(243, 248, 244, 0.35) 0px 5px 15px;
    text-align: center;
    
}

/* main end */